* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/* Literally can't figure out why I can't get a space between my blocks in my header so just decided to hack it this way */

/* This is targeting everythiung within the header section */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
/* This is a child of the header and targets the h1 blocks */
header h1 {
  display: inline-block;
  font-size: 48px;
}
/* This is a child of header and target the h1 element and seo class */
header h1 .seo {
  color: #d9dcd6;
}
/* This is a child of the header and targets the nav */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* This is a child of header nav and target the unorder list */
header nav ul {
  list-style-type: none;
}
/* This target one level deep providing spacining between the blocks. Is this where I should have added my width? */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* This targets all a tags */
a {
  color: #ffffff;
  text-decoration: none;
}
/* This targets all p tags */
p {
  font-size: 16px;
}
/* This targets the hero class */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/* This targets the main class */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* This targets a certain image image to float left */
.float-left {
  float: left;
  margin-right: 25px;
}
/* This targets a certain image to move right */
.float-right {
  float: right;
  margin-left: 25px;
}
/* This is a parent class to the float properties above and gives styles to all the services with images, txt color, etc */
.services {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Child of the above specific to img */
.services img {
  max-height: 200px;
}
/* Child of the above specific to h2 tag */
.services h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* new class for benefits after the services to honor cascading */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit {
  margin-bottom: 32px;
  color: #ffffff;
  background-color: #2589bd;
}

.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Wrapping up with the footer below */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
